/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 2%;
  text-align: center;
  font-family: cursive;
  font-size: 175%;
}

p {
  clear:both;
  padding: 15px;
}

#chicken {
  background-color: yellow;
  color: black;
}

#beef {
  background-color: red;
}

#sushi {
  background-color: pink;
  color: black;
}

.titlediv {
  padding: 10px;
  border: 1px solid black;
  font-size: 125%;
  position: relative;
  width: fit-content;
  float: right;
  font-size: 24px;
}

section {
  border: 1px solid green;
  background-color: #A52A2A;
  font-family: Arial;
  color: white;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop Version **********/
@media (min-width: 992px) {
  .layout3 {
    float: left;
    border: 1px solid black;
    width: 30%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

/********** Tablet Version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .layout2 {
    float: left;
    border: 1px solid black;
    width: 46.25%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .layout1-md {
    float: left;
    border: 1px solid black;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

/********** Mobile Version **********/
@media (max-width: 767px) {
  .layout1-sm {
    float: left;
    border: 1px solid black;
    width: 95%;
    margin-left: 2.5%; 
    margin-top: 2%;
    margin-bottom: 2%;
  }
}